<!-- <div id="user_nav">
  <%# if user_signed_in? %>
    Signed in as <%#= current_user.email %>. Not you?
    <%#= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <%# else %>
    <%#= link_to "Sign up", new_user_registration_path %> or <%#= link_to "sign in", new_user_session_path %>
  <%# end %>
</div> -->
<section class="home-slider">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- Slider 1 -->
                <li data-transition="fade" data-slotamount="7">
                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme"
                         data-x="left"
                         data-y="120"
                         data-speed="700"
                         data-start="700"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="color: #232323; font-size: 35px; text-transform:uppercase; font-family: 'Montserrat', sans-serif; font-weight: bold;">Let Us Grow your website</div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme"
                         data-x="left"
                         data-y="170"
                         data-speed="700"
                         data-start="1000"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="color: #232323; font-size: 45px; text-transform:uppercase; font-family: 'Montserrat', sans-serif; font-weight: bold; border-bottom: 2px solid #e99544;">traffic</div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme"
                         data-x="left"
                         data-y="270"
                         data-speed="700"
                         data-start="1300"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="color: #777777; font-size: 14px;  font-family: 'Droid Serif', serif; font-weight: normal; line-height:26px;">
                        We are on a mission to build, grow and maintain loyal communities at every <br>
                        touchpoint. This means you can accomplish your business goals through <br>
                        digital marketing
                    </div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme"
                         data-x="left"
                         data-y="380"
                         data-speed="700"
                         data-start="1800"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="z-index: 10;"><a href="#." class="borderred_link">Get in touch</a></div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4"
                         data-x="800"
                         data-y="bottom" data-voffset="-100"
                         data-speed="700"
                         data-start="1500"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="z-index: 2;">
                         <%= image_tag("slider/mac.png", alt: "") %>
                     </div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4"
                         data-x="500"
                         data-y="bottom" data-voffset="0"
                         data-speed="700"
                         data-start="1300"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="z-index: 2;">
                         <%= image_tag("slider/plane.png", alt: "") %>
                     </div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4"
                         data-x="720"
                         data-y="160"
                         data-speed="700"
                         data-start="1600"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="z-index: 2;">
                         <%= image_tag("slider/bosta.png", alt: "") %>
                     </div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4"
                         data-x="820"
                         data-y="160"
                         data-speed="700"
                         data-start="1600"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="z-index: 2;">
                        <h4>100%</h4>
                        <p>Grow Your Business</p>
                    </div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4"
                         data-x="560"
                         data-y="300"
                         data-speed="700"
                         data-start="1800"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="z-index: 2;">
                         <%= image_tag("slider/project-completed.png", alt: "") %>

                     </div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4"
                         data-x="660"
                         data-y="300"
                         data-speed="700"
                         data-start="1800"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="z-index: 2;">
                        <h4>2850+</h4>
                        <p>Completed Projects</p>
                    </div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4"
                         data-x="470"
                         data-y="490"
                         data-speed="700"
                         data-start="2000"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="z-index: 2;">
                         <%= image_tag("slider/clients.png", alt: "") %>
                     </div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4"
                         data-x="570"
                         data-y="490"
                         data-speed="700"
                         data-start="2000"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="z-index: 2;">
                        <h4>4000+</h4>
                        <p>Satisfied Clients</p>
                    </div>
                </li>

                <!-- Slider 1 -->
                <li data-transition="fade" data-slotamount="7">
                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme"
                         data-x="center"
                         data-y="120"
                         data-speed="700"
                         data-start="700"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="color: #232323; font-size: 30px; text-transform:uppercase; font-family: 'Montserrat', sans-serif; font-weight: bold;">Grow Your Online Business</div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme"
                         data-x="center"
                         data-y="170"
                         data-speed="700"
                         data-start="900"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="color: #232323; font-size: 18px;   font-family: 'Droid Serif', serif; font-style:italic; font-weight: normal; ">Through better marketing today</div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme"
                         data-x="center"
                         data-y="200"
                         data-speed="700"
                         data-start="1100"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="z-index: 10;"><a href="#." class="borderred_link">purchase now!</a></div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4"
                         data-x="center"
                         data-y="bottom"
                         data-speed="700"
                         data-start="1500"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="z-index: 2;">
                         <%= image_tag("slider/browser.png", alt: "") %>
                     </div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4"
                         data-x="center"
                         data-y="350"
                         data-speed="700"
                         data-start="1300"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="z-index: 2;">
                         <%= image_tag("slider/bnr-feature.png", alt: "") %>
                     </div>
                </li>

                <!-- Slider 2 -->
                <li data-transition="fade" data-slotamount="7">
                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme"
                         data-x="580"
                         data-y="100"
                         data-speed="700"
                         data-start="700"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="color: #232323; font-size: 30px; text-transform:uppercase; font-family: 'Montserrat', sans-serif; font-weight: bold;">Start Growing Your Business</div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme"
                         data-x="580"
                         data-y="150"
                         data-speed="700"
                         data-start="900"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="color: #232323; font-size: 18px;   font-family: 'Droid Serif', serif; font-style:italic; font-weight: normal; ">Through better marketing today</div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4"
                         data-x="right"
                         data-y="bottom" data-voffset="50"
                         data-speed="700"
                         data-start="1500"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="z-index: 2;">
                         <%= image_tag("slider/2-2.png", alt: "") %>

                     </div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4"
                         data-x="left"
                         data-y="bottom"
                         data-speed="700"
                         data-start="1300"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="z-index: 2;">
                         <%= image_tag("slider/2-1.png", alt: "") %>
                     </div>
                </li>

                <!-- Slider 3 -->
                <li data-transition="fade" data-slotamount="7">
                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme"
                         data-x="left"
                         data-y="200"
                         data-speed="700"
                         data-start="700"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="color: #232323; font-size: 30px; text-transform:uppercase; font-family: 'Montserrat', sans-serif; font-weight: bold;">Receive your Free<span class="color-text"> SEO Report,</span></div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme"
                         data-x="left"
                         data-y="250"
                         data-speed="700"
                         data-start="900"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="color: #232323; font-size: 30px; text-transform:uppercase; font-family: 'Montserrat', sans-serif; font-weight: bold;">Best Analysis Now.</div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme"
                         data-x="left"
                         data-y="300"
                         data-speed="700"
                         data-start="1200"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="color: #232323; font-size: 15px;   font-family: 'Droid Serif', serif; font-weight: normal; ">Enter  your website to see how we can help your business grow...</div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme"
                         data-x="left"
                         data-y="350"
                         data-speed="700"
                         data-start="1500"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="z-index: 10;">
                        <form action="#" class="row m0 website_form caption sft" method="post" data-speed="700" data-start="500" data-easing="easeOutBack">
                            <div class="input-group">
                                <input type="url" class="form-control" placeholder="www.YourWebsite.com">
                                <span class="input-group-addon">
                                    <button type="submit">Go!</button>
                                </span>
                            </div>
                        </form>
                    </div>

                    <!-- Layer -->
                    <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4"
                         data-x="right"
                         data-y="center"
                         data-speed="700"
                         data-start="1500"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-captionhidden="on"
                         style="z-index: 2;">
                         <%= image_tag("slider/2-3.png", alt: "") %>
                     </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="row contentRow">
    <div class="container">
        <div class="row">
          <% @goals.each do |g| %>
            <div class="col-sm-4 feature_cols">
                <div class="media feature_col">
                    <div class="media-left">
                        <a href="#">
                         <%= image_tag(g.avatar.url, alt: "") %>
                        </a>
                    </div>
                    <div class="media-body">
                        <h5><%= g.heading%></h5>
                        <p><%= g.text%></p>
                        <a href="#" class="learn_more">learn more</a>
                    </div>
                </div>
            </div>
          <%end%>
        </div>
    </div>
</section>
<section class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="media discover_services">
                <div class="media-left heading_secs col-sm-5 col-md-3">
                    <h2 class="discover_heading">
                        Discover <br>
                        Our Services
                    </h2>
                    <h5 class="sub_heading">
                        We Are Expert in Search Engine &amp; Social <br>
                        Media Optimization.
                    </h5>
                    <p class="about">voluptas sit aspernatur aut odit aut fugit, sed quias consequuntur magni dolores eos qui ratione volust  luptatem sequi nesciunt. Neque porro quisquam est qui dolorem ipsum quiala.</p>
                    <a href="#" class="subscribe_btn btn">Services</a>
                </div>
                <div class="media-body services_secs col-sm-7 col-md-9">
                    <% @services.each do |s| %>
                         <div class="col-sm-4 service_box">
                             <div class="row service_box_inner">
                                 <div class="row preview_box">
                                    <%= image_tag(s.avatar.url, alt: "") %>
                                     <h6>Seo Services</h6>
                                 </div>
                                 <div class="row hover_box">
                                     <div class="row m0 inner">
                                         <h6><%= s.heading %></h6>
                                         <div class="about"><%= s.text %></div>
                                         <a href="services-details.html" class="read_more">Read More</a>
                                     </div>
                                 </div>
                             </div>
                         </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="row">
    <div class="row m0 contentRow offer_service home_page">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>
                        We Offer a Full Range of Digital <br>
                        Marketing Services!
                    </h2>
                    <p>Consect adipo sci velit, sed quia non numquam eius modi temora incidlabore etum dolore tha magnam aliquam quaerat voluptatem. </p>
                    <ul class="nav">
                        <li>
                            <%= image_tag("icons/about/4.png", alt: "") %>
                            We deliver Top Rankings.
                        </li>
                        <li>
                            <%= image_tag("icons/about/5.png", alt: "") %>
                            High customer retention rate.
                        </li>
                        <li>
                            <%= image_tag("icons/about/6.png", alt: "") %>
                            We always return e-mails and calls within one business day.
                        </li>
                        <li>
                            <%= image_tag("icons/about/7.png", alt: "") %>
                            Afordable pricing offers.
                        </li>
                    </ul>
                    <div class="row m0"> </div>
                </div>
                <div class="col-sm-6">
                    <div class="owl-carousel offer_service_carousel">
                       <div class="item"> <%= image_tag("about/2.png", alt: "", ) %></div>
                       <div class="item"> <%= image_tag("about/1.png", alt: "", ) %></div>
                       <div class="item"> <%= image_tag("about/2.png", alt: "", ) %></div>
                       <div class="item"> <%= image_tag("about/1.png", alt: "", ) %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m0 funfacts_ab">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 fact">
                    <div class="row">
                        <h3><span class="counter">98</span>%</h3>
                        <h5>Client retention</h5>
                    </div>
                </div>
                <!--Fact-->
                <div class="col-sm-3 fact">
                    <div class="row">
                        <h3><span class="counter">12</span></h3>
                        <h5>years of service</h5>
                    </div>
                </div>
                <!--Fact-->
                <div class="col-sm-3 fact">
                    <div class="row">
                        <h3><span class="counter">350</span>+</h3>
                        <h5>professionals</h5>
                    </div>
                </div>
                <!--Fact-->
                <div class="col-sm-3 fact">
                    <div class="row">
                        <h3><span class="counter">4000</span>+</h3>
                        <h5>satisfied clients</h5>
                    </div>
                </div>
                <!--Fact-->
            </div>
        </div>
    </div>
    <div class="row m0 successive_process contentRow">
        <div class="container">
            <div class="row title_row">
                <h2>Affordable  It  Packages</h2>
                <h5>Choose from affordable IT services packages &amp; get the best results in return</h5>
            </div>
        </div>
        <div class="row m0 successive_process_inner">
            <div class="container">
                <div class="row">
                    <div class="fleft process">
                        <div class="dot_circle row m0">
                            <div class="icon_circle row m0">
                                <%= image_tag("process/1.png", alt: "") %>

                            </div>
                        </div>
                        <div class="row m0">1. people</div>
                    </div>
                    <div class="fleft process">
                        <div class="dot_circle row m0">
                            <div class="icon_circle row m0">
                                <%= image_tag("process/2.png", alt: "") %>

                            </div>
                        </div>
                        <div class="row m0">2. objective</div>
                    </div>
                    <div class="fleft process">
                        <div class="dot_circle row m0">
                            <div class="icon_circle row m0">
                                <%= image_tag("process/3.png", alt: "") %>

                            </div>
                        </div>
                        <div class="row m0">3. strategy</div>
                    </div>
                    <div class="fleft process">
                        <div class="dot_circle row m0">
                            <div class="icon_circle row m0">
                                <%= image_tag("process/4.png", alt: "") %>

                            </div>
                        </div>
                        <div class="row m0">4. technology</div>
                    </div>
                    <div class="fleft process">
                        <div class="dot_circle row m0">
                            <div class="icon_circle row m0">
                                <%= image_tag("process/5.png", alt: "") %>

                            </div>
                        </div>
                        <div class="row m0">5. analytics</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row text-center"> <a href="#" class="borderred_link quote_btn"><span class="lh45">Contact us!</span></a> </div>
        </div>
    </div>
     <div class="row m0 testimonials contentRow">
        <div class="container">
            <div class="row">
                <div class="row m0 title_row">
                    <h2>Clever Team Members</h2>
                    <h5>voluptatem accusantium doloremque laudantium totam aperiam</h5>
                </div>
                <div class="row m0">
                    <%= render partial: "layouts/our_team" ,:collection => @teams, :as => :t%>
               </div>
            </div>
        </div>
    </div>

    <div class="row m0 our_clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="row m0">
                        <h2>Our Clients</h2>
                        <p>Eaque ipsa quae ab illo inventore veritati quasi.</p>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="owl-carousel clients_carousel">
                           <div class="item"> <%= image_tag("about/clients/1.png", alt: "",) %></div>
                           <div class="item"> <%= image_tag("about/clients/2.png", alt: "", class:'item') %></div>
                            <div class="item"><%= image_tag("about/clients/3.png", alt: "", class:"item") %></div>
                            <div class="item"><%= image_tag("about/clients/4.png", alt: "", class:"item") %></div>
                            <div class="item"><%= image_tag("about/clients/1.png", alt: "", class:"item") %></div>
                            <div class="item"><%= image_tag("about/clients/1.png", alt: "", class:"item") %></div>
                            <div class="item"><%= image_tag("about/clients/2.png", alt: "", class:"item") %></div>
                            <div class="item"><%= image_tag("about/clients/3.png", alt: "", class:"item") %></div>
                            <div class="item"><%= image_tag("about/clients/4.png", alt: "", class:"item") %></div>
                            <div class="item"><%= image_tag("about/clients/1.png", alt: "", class:"item") %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>




