<body class="default home">
<section class="row">
    <div class="row m0 contentRow offer_service">
        <div class="container">
           
        </div>
    </div>
    <div class="row m0 contentRow about_company">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                            <%= image_tag("about/2.jpg", alt: "", class: "img-responsive") %>
                </div>
                <div class="col-sm-6">
                    <h2>About Our Company</h2>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="icon">
                                            <%= image_tag("icons/about/1.png", alt: "") %>
                                        </span>
                                            <%=@abouts.first.heading%>
                                        <span class="sign"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <%=@abouts.first.text%>
                                </div>
                            </div>
                        </div> <!--Panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span class="icon">
                                            <%= image_tag("icons/about/2.png", alt: "") %>
                                        </span>
                                            <%=@abouts.second.heading%>
                                        <span class="sign"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <%=@abouts.second.text%>
                                </div>
                            </div>
                        </div> <!--Panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <span class="icon">
                                            <%= image_tag("icons/about/1.png", alt: "") %>
                                        </span>
                                            <%=@abouts.third.heading%>
                                        <span class="sign"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <%=@abouts.third.text%>
                                </div>
                            </div>
                        </div> <!--Panel-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m0 funfacts_ab">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 fact">
                    <div class="row">
                        <h3><span class="counter">98</span>%</h3>
                        <h5>Client retention</h5>
                    </div>
                </div> <!--Fact-->
                <div class="col-sm-3 fact">
                    <div class="row">
                        <h3><span class="counter">12</span></h3>
                        <h5>years of service</h5>
                    </div>
                </div> <!--Fact-->
                <div class="col-sm-3 fact">
                    <div class="row">
                        <h3><span class="counter">350</span>+</h3>
                        <h5>professionals</h5>
                    </div>
                </div> <!--Fact-->
                <div class="col-sm-3 fact">
                    <div class="row">
                        <h3><span class="counter">4000</span>+</h3>
                        <h5>satisfied clients</h5>
                    </div>
                </div> <!--Fact-->
            </div>
        </div>
    </div>
   
  
   

</section>
    <!--Mailchimp-->
    <script src='../../../../s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script>
        (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[2]='MMERGE2';ftypes[2]='url';}(jQuery));var $mcj = jQuery.noConflict(true)
    </script>
</body>
