<footer class="row">
  <div class="row m0 top_footer">
    <div class="container">
      <div class="row footer_widgets">
        <div class="col-sm-4 footer_widget">
          <div class="row m0">
            <h4 class="title">About Company</h4>
            <div class="row m0 body">
              <p>he lorem ipsum text is typically a scrambled section of De finibus bonorum et malorum, a 1st-century BC Latin text by Cicero, with words altered, added, and removed to make it nonsensical, improper Latin.

A variation of the ordinary lorem ipsum text has been used in typesetting since the 1960s or earlier.</p><br>
              <ul class="nav socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
              </ul>
            </div>
          </div>
        </div> <!--Single widget-->
        <div class="col-sm-4 footer_widget">
          <div class="row m0">
            <h4 class="title">Pages</h4>
            <div class="row m0 body">
              <ul class="list-unstyled links">
                <li class="fa fa-caret-right"> <%= link_to "Home", root_path%></li>
                <li class="fa fa-caret-right"> <%= link_to "About US", abouts_index_path%></li>
                <li class="fa fa-caret-right">  <%= link_to "Services", services_index_path%></li>
                <li class="fa fa-caret-right"><%= link_to "Partners", packages_index_path%></li>
                <li class="fa fa-caret-right"> <%= link_to "Team", prices_index_path%></li>
                <li class="fa fa-caret-right">    <%= link_to "Contact Us", new_contact_path%></li>
              </ul>
            </div>
          </div>
        </div> <!--Single widget-->
        <div class="col-sm-4 footer_widget">
          <div class="row m0">
            <div class="row m0 body">
              <!-- Begin MailChimp Signup Form -->
              <div id="mc_embed_signup" class="row m0">
                 <%= image_tag("Logo-white.png",alt: "Techsavvy| " ) %>
              </div>
              <!--End mc_embed_signup-->
            </div>
          </div>
        </div> <!--Single widget-->
      </div>
      <div class="row footer_widgets2 m0">
        <ul class="nav nav-justified">
          <li>
            <a href="#">
               <%= image_tag("icons/footer/call.png", alt: "") %>
               <strong>Call</strong>: +042-35773886
            </a>
          </li>
          <li>
            <a href="#">
               <%= image_tag("icons/footer/mail.png", alt: "") %>
               <strong>Email</strong>: Info@techsavvy-global.com
            </a>
          </li>
          <li>
            <a href="#">
               <%= image_tag("icons/footer/fax.png", alt: "") %>
               <strong>Fax</strong>: +0000000000000
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row copyright m0">Copyright © 2018 <a href="#">PingTecnologies</a>. All Rights Reserved.</div>
</footer>
