</head>
<body class="default home">
 <header class="row">
  <div class="top_row row m0">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 tagLine"> <i class="fa fa-smile-o"></i> Connect Us Enjoy Tech  </div>
        <div class="col-sm-6">
          <ul class="nav navbar-right">
             <li><a href="single-post.html"><img src="images/icons/top-bar/user.png" alt="">login / register</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--Top Row-->
  <div class="logo_row row m0">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <a href="#" class="logo">
            <strong>LOGO</strong>
            <%#= image_tag("logo.png", alt: "SeoWave | One-Stop Digital Marketing") %>
          </a>
        </div>
        <div class="col-sm-6">
          <ul class="nav">
            <li><a href="#"><span class="icon phone"></span><span class="first-word">Call</span>: +(61) 123 456 7890</a></li>
            <li><a href="mailto:example@domail.com"><span class="icon email"></span><span class="first-word">Email</span>: Example@domail.com</a></li>
            <li><a href="#"><span class="icon share"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  <!--Logo Row-->
    <nav class="row menu_row m0">
            <div class="container">
                <div class="row">
                    <div class="search_form_area fright">
                        <form action="#" class="col-sm-6 search_form p0" method="get">

                        </form>

                    </div>
                    <!--Search And Analysis-->
                    <div class="fleft menu_area">
                        <button class="btn btn-primary visible-xs" type="button" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false" aria-controls="mainMenu"> <i class="glyphicon glyphicon-th-large"></i> Menu </button>
                        <div class="collapse navbar-collapse" id="mainMenu">
                            <ul class="nav navbar-nav">
                                <li class=" dropdown">
                                  <%= link_to "home", root_path%>
                                </li>
                                <li >
                                  <%= link_to "About", abouts_index_path%>
                                </li>
                                <li class="dropdown">
                                  <%= link_to "services", services_index_path%>
                                </li>
                                <li class="dropdown">
                                  <%= link_to "Partners", packages_index_path%>
                                </li>
                                <li>
                                  <%= link_to "Team", teams_index_path%>
                                </li>
                                <li class="dropdown">
                                  <%= link_to "Contact", new_contact_path%>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Menu Area-->
                </div>
            </div>
        </nav>
<!--Menu Row-->
</header>
