<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Techsavvy | One-Stop Digital Marketing</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <%= render partial: "layouts/header"%>
  <body>
    <%= yield %>
  </body>
  <%= render partial: "layouts/footer"%>
</html>
